 .empty {
    border: 1px solid #000;
    float: left;
    width: 50px;
    height: 50px;
  }
  .emptyone{
    border: 1px solid #000;
    float: left;
    width: 50px;
    height: 50px;
    
  }
  
  /* .hit {
    background: #f00;
  }
  
  .miss {
    background: #ccc;
  }
   */
  .game-row:after {
    display: table;
    clear: both;
    content: "";
  
  }
  
  /* .hidden {
    display: none;
    /* border:2px dotted black; 
  } */
  .colclass{
      border:2px dotted black;
  }
  .second{
      margin-left: 20em;
      float: right;
      margin-right: 10em;
  }
  .first{
      float:left;
  }
  .text{
      margin-left: 4em;
      
  }